<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
</head>
<body>

       <messages  err="get.errorMessage" info="get.infoMessage" 
            alert-message="get.alertMessage()"></messages>
   
      
        <div class="col-md-6">
   
      <div class="form-group" >
   	
   	  <h3 class="textColor">  My Coupons Filtered By Type: </h3>
   	  <form class="form-horizontal" ng-submit="get.getCouponByType()">
		<select ng-model="get.type"  class="form-control" required>
		<option value="">Please Choose a coupon type to search</option>
              <option value="RESTURANTS">RESTURANTS</option>
              <option value="ELECTRICITY">ELECTRICITY</option>	
	          <option value="FOOD">FOOD</option>
              <option value="HELTH">HELTH</option>
              <option value="SPORT">SPORT</option>
              <option value="CAMPING">CAMPING</option>
              <option value="TRAVELLING">TRAVELLING</option>
              <option value="WEBSITE_STOR">WEBSITE_STOR</option>
              <option value="MUSIC_INSTRUMENTS">MUSIC_INSTRUMENTS</option>    
         </select>
         <br>
         <button class="btn btn-success" >Search</button>
      </form>
   </div>
   
     
<div class="container " >

  <div class="panel-group col-md-6" id="accordion"  >
    <div class="panel panel-default" ng-repeat="coupon in get.coupons | filter:test:match "  >
      <div class="panel-heading" >
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{coupon.id}}"
              class="imgContainer btn-group btn-group-justified btn btn-default"
              ng-click="get.getCouponData(coupon.id)" >
                
     
     <label class="topleft"> {{coupon.title}}</label>
   
		<img class="imgSize img-responsive" alt="Cinque Terre" width="304" height="236" data-ng-src={{coupon.image}}>
		
		
    <span class="caret"></span></a>
        </h4>
      </div>
      <div id={{coupon.id}} class="panel-collapse collapse">
        <div class="panel-body">
         <form id="formLogin" class="form container-fluid"  data-spy="affix" data-offset-top="205" >
         
            <div>
             <h4> Coupon Details:</h4>
            </div>
           
          <div>
       <label>Title : </label>
			            <span>{{get.couponData.title}}</span>
			            </div>
                           
                         <div>  
                 <label>Start date : </label>
			             <span>{{get.couponData.startDate | date}}</span>
			              </div>
			              <div>  
			              <label>Expired Date : </label>
			             <span >{{get.couponData.endDate | date}}</span>
			                 </div>  
			                 
			           <div>        
      <label>Amount : </label>
			             <span>{{get.couponData.amount}}</span>
			              </div>  
			                <div>  
       <label>Type : </label>
			             <span>{{get.couponData.type}}</span>
			              </div>  
			                <div>  
      <label>Message :</label>
			             <span>{{get.couponData.massage}}</span>
			              </div>  
			                <div>  
      <label>Price : </label>
			             <span >{{get.couponData.price}}</span>
			               </div>  
		
			              
			      

    
          </form>
        
        
        
        </div>
      </div>
    </div>
   
  </div> 
</div>
         </div>

</body>
</html>