<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
</head>
<body>

   	<div ng-controller="GetCponByCtrl as g">
   	
   
      
       <messages success= "g.successMessage" err="g.errorMessage" info="g.infoMessage" remove="g.deleteCouponErrorMessage"
    confirm="g.confirm()" alert-message="g.alertMessage()"></messages>
      
       
       <div class="col-md-6">
   	
   	<div class="form-group" >
   	<form class="form-horizontal" ng-submit="g.getCouponByType()">
		<h3 class="textColor" for="name" >Select Type:</h3 >
        
        
		<select ng-model="g.type" 
		class="form-control" required>
		      <option value="">Please Choose a coupon type to search</option>
              <option value="RESTURANTS">RESTURANTS</option>
              <option value="ELECTRICITY">ELECTRICITY</option>	
	          <option value="FOOD">FOOD</option>
              <option value="HELTH">HELTH</option>
              <option value="SPORT">SPORT</option>
              <option value="CAMPING">CAMPING</option>
              <option value="TRAVELLING">TRAVELLING</option>
              <option value="WEBSITE_STOR">WEBSITE_STOR</option>
              <option value="MUSIC_INSTRUMENTS">MUSIC_INSTRUMENTS</option>   
         </select>
		
   	     <br>
        <button class="btn btn-info" >Search</button>
       </form>
       </div>
   <div>
             
<div class="container " >

  <div class="panel-group col-md-6" id="accordion"  >
    <div class="panel panel-default" ng-repeat="coupon in g.coupons" >
      <div class="panel-heading" >
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{coupon.id}}"
              class="imgContainer btn-group btn-group-justified "
              ng-click="g.getCouponData($index) ;g.validDate()" >
                
     
     <label class="topleft"> {{coupon.title}}</label>
   
		<img class="imgSize img-responsive" alt="Cinque Terre" width="304" height="236" data-ng-src={{coupon.image}}>
		
		
    <span class="caret"></span></a>
        </h4>
      </div>
      <div id={{coupon.id}} class="panel-collapse collapse">
        <div class="panel-body">
          <form id="formLogin" class="form container-fluid" ng-submit="g.updateCoupon()" >
            
            <div>
             <h4> Coupon Details:</h4>
            </div>
           
          <div>
       <label>Title : </label>
			            <span>{{g.couponData.title}}</span>
			            </div>
			            
			             <div>
			                <label>ID : </label>
			                           <span >{{g.couponData.id}}</span>
                           </div>
                           
                         <div>  
                 <label>Start date : </label>
			             <span id="startDate">{{g.couponData.startDate | date}}</span>
			              </div>
			              <div>  
			              <label>Expired Date : </label>
			             <span ng-hide="g.updateMode">{{g.couponData.endDate | date}}</span>
			             <input id={{coupon.title}}  type="date" min='1899-01-01' required="required" class="form-control" ng-show="g.updateMode" ng-model="g.couponData.endDate" >
			                 </div>  
			                 
			           <div>        
      <label>Amount : </label>
			             <span>{{g.couponData.amount}}</span>
			              </div>  
			                <div>  
       <label>Type : </label>
			             <span>{{g.couponData.type}}</span>
			              </div>  
			                <div>  
      <label>Message :</label>
			             <span>{{g.couponData.massage}}</span>
			              </div>  
			                <div>  
      <label>Price : </label>
			             <span ng-hide="g.updateMode">{{g.couponData.price}}</span>
			              <input type="number" required="required" step="0.01"  min="0.5" class="form-control" ng-show="g.updateMode" ng-model="g.couponData.price">
			               </div>  
			                <div>  
     
			              
       <button type="button" class="btn btn-primary" ng-hide="g.updateMode" ng-click="g.toggleUpdateMode() ">Update</button>
			          <button type="submit" class="btn btn-success" ng-show="g.updateMode" >Save</button>
			          <button type="button" class="btn btn-primary" ng-show="g.updateMode" ng-click="g.toggleUpdateMode()">Back</button> 
			          <button type="button" class="btn btn-danger" ng-hide="g.updateMode" ng-click="g.deleteCoupon()">Delete</button> 
      
    
          </form>
        </div>
      </div>
    </div>
   
  </div> 
</div>
    		  </div>
    		  
    		  
    		  
    		  
    		  
    		  
    		  
			</div>
	    </div>      
		
</body>
</html>